<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>LiveJournal</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <taglib>
            <taglib-uri>customtags</taglib-uri>
            <taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
        </taglib>
    </jsp-config>

    <servlet>
        <servlet-name>UserInfoImageServlet</servlet-name>
        <servlet-class>by.bsuir.project.controller.UserInfoImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInfoImageServlet</servlet-name>
        <url-pattern>/user-info-image</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DispatcherServletName</servlet-name>
        <servlet-class>by.bsuir.project.controller.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServletName</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>EncodingFilterName</filter-name>
        <filter-class>by.bsuir.project.controller.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilterName</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ActionFromUriFilterName</filter-name>
        <filter-class>by.bsuir.project.controller.ActionFromUriFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ActionFromUriFilterName</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

    <!--    <filter>-->
    <!--        <filter-name>LocaleFilterName</filter-name>-->
    <!--        <filter-class>by.controller.LocaleFilter</filter-class>-->
    <!--    </filter>-->
    <!--    <filter-mapping>-->
    <!--        <filter-name>LocaleFilterName</filter-name>-->
    <!--        <url-pattern>*.html</url-pattern>-->
    <!--    </filter-mapping>-->

    <filter>
        <filter-name>SecurityFilterName</filter-name>
        <filter-class>by.bsuir.project.controller.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilterName</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

        <error-page>
            <error-code>404</error-code>
            <location>/WEB-INF/jsp/error.jsp</location>
        </error-page>

    <!-- <context-param>
         <param-name>log4j-config-location</param-name>
         <param-value>/WEB-INF/log4j2.xml</param-value>
     </context-param>-->
</web-app>