<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="patterns">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n
        </Property>
        <Property name="patternless">
            %d{HH:mm:ss.SSS} [%t] %-5level %logger{1} - %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternless}"/>
        </Console>
        <File name="TxtFile" fileName=
                "../src/main/logs/text.log" bufferedIO="true">
            <PatternLayout pattern="${patterns}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="by.bsuir.livejournal" level="debug"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
    </Loggers>
</Configuration>